{% extends 'base/base.html' %}
{% block content %}


<div class="row my-3 justify-content-center">
{% for flower in flowers %}
  <div class="card col-lg-2 col-md-3 mx-1">
    <div class="card-body">
        <h5 class="card-title">{{ flower.title }}</h5>
        <p class="card-text">{{ flower.description | truncatechars:100 }}</p>
        <a href="adminmyapp/flower/{{ flower.id }}/change" class="card-link">Edit</a>
        <a href="adminmyapp/flower/{{ flower.id }}/delete" class="card-link">Delete</a>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}